

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
}


footer p {
    text-align: center;
    background-color:cornflowerblue;
    
}


header, main {
    margin-bottom: 30px;
}

header img {
    width:100%;
    max-height:500px;
}

.d-flex{
    justify-content: space-between;
}


.container{
    margin-bottom:10px;

}



.titulo-login{
    text-align: center;
}

.login{
    display:flex;
    justify-content:center;

}

.login img{
    max-width: 200px;
    max-height: 400px;
    margin-left: 50px;
}

.form-alta{
    justify-items: center;
}

.card img{
    max-width: 200px;
    max-height: 400px;
    margin-left: 50px;
   
}


