

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
}

.main-container{
    padding:20px;
   justify-items: center;
}



footer p {
    text-align: center;
    margin: 0;
}

header {
    width:100%;
}



header img {
    width:100%;
    max-height:500px;
}

.titulo-login{
    text-align: center;
}


.form-alta {
    justify-content: center;
}

#images{
    max-width: 200px;
    max-height: 200px;
    margin-left: 100px;
   
}

footer{
    position:fixed;
    width: 100%;
    bottom: 0;
    
}


