

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
}

.main-container{
    padding:20px;
   justify-items: center;
}

.bank-image {
    background-image: url(".\Images\background-bank.jpg"); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
  }


footer p {
    text-align: center;
    margin: 0;
}

header {
    width:100%;
}



header img {
    width:100%;
    max-height:500px;
}

.titulo-login{
    text-align: center;
}


.form-alta {
    justify-content: center;
}

.main-container img{
    max-width: 200px;
    max-height: 400px;
    margin-left: 50px;
   
}

footer{
    position:fixed;
    width: 100%;
    bottom: 0;
    
}


